services:
  - type: web
    name: hrms-lite-backend
    runtime: python
    buildCommand: cd backend && pip install -r requirements.txt
    startCommand: cd backend && uvicorn main_prod:app --host 0.0.0.0 --port $PORT
    envVars:
      - key: PORT
        value: 10000
      - key: MONGODB_URI
        sync: false
      - key: NODE_ENV
        value: production
      - key: PYTHON_VERSION
        value: 3.12.0
